parameters:
	level: max
	paths:
		- src
		- tests
	excludes_analyse:
		- vendor
	ignoreErrors:
		- '#Access to an undefined property Flarum\\Foundation\\Paths::\$public#'
		- '#Call to an undefined method Illuminate\\Database\\Query\\Builder::whereVisibleTo\(\)#'
